{
  "presets": [
    "@babel/preset-flow",
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [],
  "inputSourceMap": false,
  "sourceMaps": false
}
