@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 1, 13);
  background: linear-gradient(
    180deg,
    rgba(0, 1, 13, 1) 0%,
    rgba(0, 2, 20, 1) 0%,
    rgba(0, 22, 255, 1) 48%,
    rgba(0, 0, 0, 1) 88%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiList-padding {
  padding: 0;
}
